global
    log stdout format raw local0
    maxconn 1024

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_in
    bind *:80

    # For now, only blog on root
    default_backend blog_backend

backend blog_backend
    server blog blog-nginx:80 check
