version: "3.9"

services:
  ingress:
    image: haproxy:2.9
    configs:
      - source: haproxy_cfg
        target: /usr/local/etc/haproxy/haproxy.cfg
    ports:
      - "80:80"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          memory: 64M
        reservations:
          memory: 32M
    networks:
      - wnt_net

networks:
  wnt_net:
    external: true

configs:
  haproxy_cfg:
    file: haproxy.cfg
